<!DOCTYPE html>
<html>
  <head>
    <title>CardGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="collapse navbar-collapse">

      </div>
      <div class="btn-group">
        <% if signed_in? %>
          <%= current_user.pseudo %>
          <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete%>
        <% else %>
          <%= link_to "Me connecter", new_user_session_path%><br>
          <%= link_to "M'inscrire", new_user_registration_path%>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
